

.small-button{
opacity:.1;
}
.small-button:hover{
opacity:1;
}
.delbut{
/*border: 1px solid red;*/
padding:0px;
margin:0px;
margin-left:5px;
/*border-radius:0px;*/
opacity:.4;
}
.delbut:hover{
opacity:1;
}

.delbut box image{
/*border: 1px solid red;*/
/*padding:0px;
margin:0px;
*/}

.editpage>box{
padding:20px 100px;
background:gainsboro;
}

.sggst{
	font-family: Ubuntu;
	color: #262626;
	background:#f2f2f2;
	border-radius:2px;
	border: 1px solid #cccccc;
	/*font-weight:bold;*/
	padding:2px;
}

.alias{

font-family: Ubuntu;
background:silver;
color: #262626;
background:#ecffe6;
border-radius:2px;
border: 1px solid #c4dbbd;
/*font-weight:bold;*/
padding:0px 0px 0px 5px;
}

.aliases{
	min-height:100px; 
}

.app-notification{
background-color: rgba(0,0,0,0.6);
}
.app-notification-ok{
background-color: rgba(0,100,0,0.6);
}
.app-notification-error{
background-color: rgba(100,0,0,0.6);
}

